.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #460b54;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    size: 100%;
    width: 93px;
    
  }
  .btn1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #460b54;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    size: 100%;
    width: 93px;

  }